body {
    background-color: palevioletred;
    font-family: tahoma;
    font-size: 33px;
    display: flex;
    flex-direction: row;
  }
  button {
    background-color: aquamarine;
    font-size: 33px;
    padding: 5px;
    font-family: Impact;
  }
  button:hover {
    background-color: yellow;
  }